{{#if rendered_children.annotation}}{{{capitalize rendered_children.annotation }}}{{else}}*{{/if}} {{#strip}}{{#each chunks}}{{this.value}}{{/each}}{{#each extra_inlined_parameters}} "{{this.value}}"{{/each}}{{/strip}}