{{#if rendered_children.gherkin_annotation }}
{{{ rendered_children.gherkin_annotation }}}('{{> gherkin_pattern}}', function ({{#if rendered_children.parameters}}{{{ join rendered_children.parameters_ordered_by_pattern ', '}}}, {{/if}}callback) {{#curly}}{{#indent}}
this.actionwords.{{{camelize_lower rendered_children.name}}}({{#if has_parameters?}}{{#join raw_parameter_names ', '}}{{{underscore this}}}{{/join}}{{/if}});
callback();
{{/indent}}
{{/curly}});{{/if}}